---
layout: page
title: My Portfolio
group: navigation
---

<hr>

<!-- posts under category Portfolio -->
{% for category in site.categories %}
   {% if category[0] == "Portfolio" %}
        {% assign pages_list = category[1] %}
        {% for node in pages_list %}
          {% if node.title != null %}
            &raquo; <a href="{{ site.BASE_PATH }}{{node.url}}">{{ node.title }}</a>
            <br>
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
   {% endif %}
{% endfor %}

<div class="page">
  <h1 class="page-title">404: Page not found</h1>
  <p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ site.baseurl }}/">Head back home</a> to try finding it again.</p>
</div>